{% extends 'base.html' %}
{% block body %}

<!-- 
Where a user edits their profile
-->

	<div>
		<div><form class="edit-profile" method="POST">
		<div class="form-group"><label for="first_name">First Name:</label>
			<input type = "text" name ="first_name" id="first_name" class="form-control"/></div>
		<div class="form-group"><label for="last_name">Last Name:</label>
			<input type = "text" name ="last_name" id="last_name" class="form-control"/></div>
		<div class="form-group"><label for="email">Email:</label>
			<input type = "email" name ="email" id="email" class="form-control"/></div>
		<div class="form-group"><label for="password">Password:</label>
			<input type = "password" name="password" id="password" class="form-control"/></div>
		<div class="form-group"><label for="age">Donor Age:</label>
			<input type = "text" name ="age" id="age" class="form-control"/></div>
		<div class="form-group"><label for="cell_phone">Phone Number:</label>
			<input type = "text" name ="cell_phone" id="cell_phone" class="form-control"/></div>
		<div class="form-group"><label for="zip_code">Zip Code:</label>
			<input type = "text" name="zip_code" id="zip_code" class="form-control"/></div>
		


		
		<div class="form-group"><input class="btn btn-default" type="submit" value="Submit" id="signup-submit"></div>
		</form></div>
	</div>

baby_dob - Dropdown
no_dairy - Checkbox
no_wheat - Checkbox
no_soy - Checkbox
no_caffeine - Checkbox
no_alcohol - Checkbox
drug_info - Text Field
has_health_info - Checkbx
about_me - Text Field
notes - Text Field



	<div>
	</div>

{% endblock %}