{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<!-- 
Where a user sees their profile
-->

<div class="userinfo">

<p>First Name: {{  }} </p>
<p>Last Name: {{  }} </p>
<p>Email: {{  }} </p>
<p>Password: {{  }} </p>
<p>Age: {{  }} </p>
<p>Phone Number: {{  }} </p>
<p>Zip Code: {{  }} </p>

<p>No Dairy: {{  }} </p>
<p>No Wheat: {{  }} </p>
<p>No Soy: {{  }} </p>
<p>No Caffeine: {{  }} </p>
<p>No Alcohol: {{  }} </p>
<p>Health Info Available: {{  }} </p>

<p>Drug Information: {{  }} </p>

<p>About You: {{  }} </p>

<p>Notes: {{  }} </p>

</div>





{% endblock %}